<div id="coupon_success">
	<div class="container-logo">
		<%= image_tag("mobile/logo.png", class:"logo") %>
	</div>
	<div class="coupon_tops">
	<!--<span class="name"><%= @coupon.user.name %></span>-->
	<%= image_tag("mobile/text_coupon_top.png", class:"text_coupon_top") %>
	</div>
	<div class="container-product">
		<div class="coupon_img">
		<%= image_tag("mobile/coupon_img.png", class:"coupon_imgs") %>
		</div>
		<div>
		<%= image_tag("mobile/text_product_caution.png", class:"text_product_caution") %>
		</div>
	</div>
	<div class="bottom">
		<%= image_tag("mobile/text_coupon_caution2.png", class:"text_coupon_caution2") %>
		<%= image_tag("mobile/btn_coupon_use_after.png", class:"btn_coupon_use_before") %>
	</div>

</div>