<div id="popup_fin1">
	<%= link_to "#", {class: "b-close", onclick:"ga('send', 'event', 'button', 'click', '이벤트 완료');"} do %>
	<%= image_tag("pc/popup/close.png", class: "close") %>
	<% end %>
	<%= image_tag("pc/popup/fin1/title.png", class:"fin_title") %><br />
	<%= image_tag("pc/popup/fin1/label.png", class:"fin_label") %><br />
	<%= link_to "#", class: "b-close" do %>
	<%= image_tag("pc/popup/fin1/button.png") %>
	<% end %>
</div>