<div id="popup_fin2">
	<%= link_to "#", {class: "b-close", onclick: "ga('send', 'event', 'button', 'click', '에러');"} do %>
	<%= image_tag("pc/popup/close.png", class: "close") %>
	<% end %>
	<%= image_tag("pc/popup/fin2/title.png", class:"fin_title") %><br />
	<%= image_tag("pc/popup/fin2/label.png", class:"fin_label") %><br />
	<%= link_to "#", class: "b-close" do %>
	<%= image_tag("pc/popup/fin2/button.png") %>
	<% end %>
</div>