<!doctype html>
<html>
  <head>
    <title>su:m</title>
  </head>
  <body class="body_class">
    <div class="contain">
      <div class="header"> <!-- Header -->
        <%= image_tag("pc/logo.png", class: "header_logo") %>
        <%= image_tag("pc/term.png", class: "header_term") %>
      </div>
      <div class="content"> <!-- Content -->
        <%= image_tag("pc/title.png", class: "content_title") %><br />
        <%= image_tag "pc/label_1.png" %><br /><br />
        <%= image_tag "pc/button.png" %><br /><br />
        <%= image_tag "pc/label_2.png" %>
        <div class="share">
          <%= image_tag "pc/share_label.png" %>
          <%= image_tag("pc/share_facebook.png", class: "share_icon") %>
          <%= image_tag("pc/share_twitter.png", class: "share_icon") %>
        </div>
        <%= image_tag("pc/product.png", class: "product") %><br />
      </div>
      <div class="video"> <!-- Video -->
        <%= image_tag "pc/line.png" %><br /><br />
        <%= image_tag("pc/vedio_label.png", class: "video_label") %>
        <%= image_tag("pc/vedio_button.png", class: "video_button") %><br />
        <%= image_tag "pc/vedio.png" %>
      </div>
      <div> <!-- Caution -->
        <%= image_tag "pc/caution.png" %>
      </div>
    </div>
  </body>
</html>
