<!doctype html>
<html>
  <head>
    <title>su:m</title>
  </head>
  <body class="body_class">
    <div class="contain">
      <div class="header"> <!-- Header -->
        <%= image_tag("pc/logo.png", class: "header_logo") %>
        <%= image_tag("pc/term.png", class: "header_term") %>
      </div>
      <div class="content"> <!-- Content -->
        <%= image_tag("pc/title.png", class: "content_title") %><br />
        <%= image_tag "pc/label_1.png" %><br /><br />
        <%= link_to "#", id: "gift_button" do %>
          <%= image_tag "pc/button.png" %>
        <% end %><br /><br />
        <%= image_tag "pc/label_2.png" %>
        <div class="share">
          <%= image_tag "pc/share_label.png" %>
          <%= image_tag("pc/share_facebook.png", class: "share_icon") %>
          <%= image_tag("pc/share_twitter.png", class: "share_icon") %>
        </div>
        <%= image_tag("pc/product.png", class: "product") %><br />
      </div>
      <div class="video"> <!-- Video -->
        <%= image_tag "pc/line.png" %><br /><br />
        <%= image_tag("pc/vedio_label.png", class: "video_label") %>
        <%= image_tag("pc/vedio_button.png", class: "video_button") %><br />
        <iframe width="640" height="390" src="//www.youtube.com/embed/x1ZV_sq-0q0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div> <!-- Caution -->
        <%= image_tag "pc/caution.png" %>
      </div>
      <!-- popup -->
      <div id="popup_info">
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %>
        개인정보 입력 <%= link_to "#", id: "popup_info_to_personal" do %>popup<% end %>
      </div>
      <div id="popup_personal">
        <%= link_to "#", class: "b-close-2" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %>
        이용약관 입력 popup
      </div>
    </div>
  </body>
</html>
