<div id="birthday">
  <%= form_for([:mobile, @user]) do |f| %>
  <div class="container-close clearfix">
    <a href="javascript:history.go(-1)" class="btn_close"><%= image_tag("mobile/btn_close.png", class:"btn_close") %></a>
  </div>
  <div class="popup-birthday_text-top">
    <%= image_tag("mobile/popup-birthday_text-top.png", class:"text-top") %>
  </div>
  <div class="container-info">
    <div class="container-year">
      <%= select_year(Date.today, {start_year: 1900, end_year: 2014}, {name:'user[birthday_year]', class:'select_year'})%>
      <%= image_tag("mobile/popup-birthday_label-year.png", class:"label-year") %>
    </div>
    <div class="container-month">
      <%= select_tag "user[birthday_month]", options_for_select([ "3", "4" ], "3"), {class: 'select_month'}%>
      <%= image_tag("mobile/popup-birthday_label-month.png", class:"label-month") %>
    </div>
    <div class="container-day">
      <%= select_day(Date.today, {start_day: 1, end_day: 31}, {name:'user[birthday_day]', class: 'select_day'})%>
      <%= image_tag("mobile/popup-birthday_label-day.png", class:"label-day") %>
    </div>
    <%= image_tag("mobile/popup-birthday_text-guide.png", class:"text-guide") %>
  </div>
  <div class="container-name">
    <%= image_tag("mobile/text_name.png", class:"text_name") %>
    <input type='text' data-name='name' id='info_name' name='user[name]' class="input-default info_input_name" value="" maxlength="4" />
  </div>
  <div class="container-phone">
    <%= image_tag("mobile/text_phone.png", class:"text_phone") %>
    <input type='text' data-name='phone' id='info_phone' name='user[phone]' class="input-default info_input_call" value="" maxlength="11" />
  </div>
  <%= image_tag("mobile/divider.png", class:"divider_01") %>
  <div class="container-terms">
    <%= image_tag("mobile/text_terms.png", class:"text_terms") %>
    <input type="checkbox" data-name='agree' name="agree" id="info_input_agree" class="info_input_agree" value="d" />
  </div>
  <div class="container-detail_terms">
    <a href="/terms"><%= image_tag("mobile/btn_detail_terms.png", class:"detail_terms") %></a>
  </div>
  <div class="container-coupon">
    <!-- if it is not duplicate -->
    <%= image_submit_tag("mobile/btn_get_coupon.png", class:"btn_get_coupon") %>
    <!-- else -->
  </div>
  <%= image_tag("mobile/text_caution.png", class:"text_caution") %>
  <%end%>
</div>