<div class="row-fluid">
  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">바이럴 등록 목록</div>
    </div>
    <div class="block-content collapse in">
      <div class="span12">
        <%= paginate @viral_actions %>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th class="name">플랫폼</th>
              <th>PC/MOBILE</th>
              <th>등록일시</th>
            </tr>
          </thead>
          <tbody>
            <% @viral_actions.each do |viral_action| %>
              <tr class="">
                <td>
                  <%= viral_action.id %>
                </td>
                <td>
                  <%= viral_action.platform %>
                </td>
                <td>
                  <%= viral_action.device  %>
                </td>
                <td class="created_at">
                  <p><%= viral_action.created_at.strftime("%m.%d %H:%M") %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @viral_actions %>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>
